force-app/main/default/flows/Contract_Draft_Reminder.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Email_Reminder_for_Expired_Contract</name>
        <label>Email Reminder for Expired Contract</label>
        <locationX>264</locationX>
        <locationY>684</locationY>
        <actionName>Contract.Contract_Reminder_Old_Expired</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Iterate_Contracts_for_About_To_Expire</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Iterate_Contracts_for_About_To_Expire.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Contract.Contract_Reminder_Old_Expired</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Email_Reminder_for_New_Customer</name>
        <label>Email Reminder for New Customer</label>
        <locationX>528</locationX>
        <locationY>684</locationY>
        <actionName>Contract.Contract_Reminder_Draft_new</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Iterate_Contracts_for_About_To_Expire</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Iterate_Contracts_for_About_To_Expire.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Contract.Contract_Reminder_Draft_new</nameSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Recipient_Emailers</name>
        <label>Assign Recipient Emailers</label>
        <locationX>176</locationX>
        <locationY>252</locationY>
        <assignmentItems>
            <assignToReference>recipientEmailList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>mukul_chippa@technologymindz.com</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Contracts</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_Its_a_child_Contract</name>
        <label>Check if Its a child Contract</label>
        <locationX>396</locationX>
        <locationY>576</locationY>
        <defaultConnector>
            <targetReference>Email_Reminder_for_New_Customer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Child Contract</defaultConnectorLabel>
        <rules>
            <name>Yes_Child_Contract</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_Contracts_for_About_To_Expire.Parent_Contract__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Reminder_for_Expired_Contract</targetReference>
            </connector>
            <label>Yes Child Contract</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Contract - Draft Reminder {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contract - Draft Reminder</label>
    <loops>
        <name>Iterate_Contracts_for_About_To_Expire</name>
        <label>Iterate Contracts for About To Expire</label>
        <locationX>176</locationX>
        <locationY>468</locationY>
        <collectionReference>Get_Contracts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_if_Its_a_child_Contract</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Contracts</name>
        <label>Get Contracts</label>
        <locationX>176</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_Contracts_for_About_To_Expire</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contract</object>
        <sortField>EndDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_Recipient_Emailers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </filters>
        <object>Contract</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2023-11-03</startDate>
            <startTime>00:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Obsolete</status>
    <textTemplates>
        <description>email body for reminder email</description>
        <name>EmailBody_Reminder</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;You have a contract which is about to expire in 2 days Look at it to.&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>Subject of email to send reminder</description>
        <name>EmailSubjectReminder</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Reminder - Contract is About to Expire For {!Iterate_Contracts_for_About_To_Expire.Account.Name}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>childContractsList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>ChildContractTemp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>contractForReminder</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>recipientEmailList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>tempDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
