force-app/main/default/flows/Contract_Contract_Expiration_Reminder.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Email_Alert_for_Contract_Reminder</name>
        <label>Email Alert for Contract Reminder</label>
        <locationX>270</locationX>
        <locationY>1440</locationY>
        <actionName>Contract.Contract_Reminder</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Iterate_Contracts_for_About_To_Expire</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Iterate_Contracts_for_About_To_Expire.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Contract.Contract_Reminder</nameSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_1_day_in_end_date</name>
        <label>Add 1 day in end date</label>
        <locationX>270</locationX>
        <locationY>1224</locationY>
        <assignmentItems>
            <assignToReference>ChildContractTemp.EndDate</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Child_Contract_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_all_contracts_which_need_reminder</name>
        <label>Add all contracts which need reminder</label>
        <locationX>270</locationX>
        <locationY>1008</locationY>
        <assignmentItems>
            <assignToReference>contractForReminder</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_Contracts_for_About_To_Expire</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ChildContractTemp1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Recipient_Emailers</name>
        <label>Assign Recipient Emailers</label>
        <locationX>182</locationX>
        <locationY>252</locationY>
        <assignmentItems>
            <assignToReference>recipientEmailList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>mukul_chippa@technologymindz.com</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Contracts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Child_Contract_Assignment</name>
        <label>Child Contract Assignment</label>
        <locationX>270</locationX>
        <locationY>1332</locationY>
        <assignmentItems>
            <assignToReference>childContractsList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ChildContractTemp</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Email_Alert_for_Contract_Reminder</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ChildContractTemp1</name>
        <label>ChildContractTemp</label>
        <locationX>270</locationX>
        <locationY>1116</locationY>
        <assignmentItems>
            <assignToReference>ChildContractTemp.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Contracts_for_About_To_Expire.Account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChildContractTemp.ContractTerm</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Contracts_for_About_To_Expire.ContractTerm</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChildContractTemp.StartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Contracts_for_About_To_Expire.EndDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChildContractTemp.Parent_Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Contracts_for_About_To_Expire.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_1_day_in_end_date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>EndDate_2</name>
        <label>EndDate-2</label>
        <locationX>402</locationX>
        <locationY>684</locationY>
        <assignmentItems>
            <assignToReference>tempDate</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_Contract_is_about_to_expire</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>EndDateTempVariable</name>
        <label>EndDateTempVariable</label>
        <locationX>402</locationX>
        <locationY>576</locationY>
        <assignmentItems>
            <assignToReference>tempDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Contracts_for_About_To_Expire.EndDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>EndDate_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Checkbox_child_created</name>
        <label>Update Checkbox child created</label>
        <locationX>270</locationX>
        <locationY>900</locationY>
        <assignmentItems>
            <assignToReference>Iterate_Contracts_for_About_To_Expire.Child_Contract_Created__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_all_contracts_which_need_reminder</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_Contract_is_about_to_expire</name>
        <label>Check if Contract is about to expire</label>
        <locationX>402</locationX>
        <locationY>792</locationY>
        <defaultConnector>
            <targetReference>Iterate_Contracts_for_About_To_Expire</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Reminder_Required</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>tempDate</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$System.OriginDateTime</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Checkbox_child_created</targetReference>
            </connector>
            <label>Yes Reminder Required</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_if_there_are_any_contract_to_create</name>
        <label>check if there are any contract to create</label>
        <locationX>182</locationX>
        <locationY>1716</locationY>
        <defaultConnector>
            <targetReference>Check_If_there_are_any_records_to_update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Child contract to be created</defaultConnectorLabel>
        <rules>
            <name>contracts_to_be_created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>childContractsList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Child_Contract_Records</targetReference>
            </connector>
            <label>contracts to be created</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_there_are_any_records_to_update</name>
        <label>Check If there are any records to update</label>
        <locationX>182</locationX>
        <locationY>2016</locationY>
        <defaultConnectorLabel>No Records</defaultConnectorLabel>
        <rules>
            <name>Has_for_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>contractForReminder</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_the_Checkbox_for_Contract</targetReference>
            </connector>
            <label>Has for Update</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Contract - Contract Expiration Reminder {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contract - Contract Expiration Reminder</label>
    <loops>
        <name>Iterate_Contracts_for_About_To_Expire</name>
        <label>Iterate Contracts for About To Expire</label>
        <locationX>182</locationX>
        <locationY>468</locationY>
        <collectionReference>Get_Contracts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>EndDateTempVariable</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>check_if_there_are_any_contract_to_create</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Child_Contract_Records</name>
        <label>Create Child Contract Records</label>
        <locationX>50</locationX>
        <locationY>1824</locationY>
        <connector>
            <targetReference>Check_If_there_are_any_records_to_update</targetReference>
        </connector>
        <inputReference>childContractsList</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Contracts</name>
        <label>Get Contracts</label>
        <locationX>182</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_Contracts_for_About_To_Expire</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </filters>
        <filters>
            <field>Child_Contract_Created__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Contract_Remaining_Days__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contract</object>
        <sortField>EndDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_the_Checkbox_for_Contract</name>
        <label>Update the Checkbox for Contract</label>
        <locationX>50</locationX>
        <locationY>2124</locationY>
        <inputReference>contractForReminder</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_Recipient_Emailers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </filters>
        <object>Contract</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2023-11-03</startDate>
            <startTime>00:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Obsolete</status>
    <textTemplates>
        <description>email body for reminder email</description>
        <name>EmailBody_Reminder</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;You have a contract which is about to expire in 2 days Look at it to.&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>Subject of email to send reminder</description>
        <name>EmailSubjectReminder</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Reminder - Contract is About to Expire For {!Iterate_Contracts_for_About_To_Expire.Account.Name}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>childContractsList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>ChildContractTemp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>contractForReminder</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>recipientEmailList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>tempDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
